{% extends 'base.twig' %}
{% block title %} Items {% endblock %}

{% block content %}
<h1>Vendor name: {{ vendor.name|title }}</h1>

<h2>Items</h2>

<ul>
    {% for item in vendor.getItems() %}
        <li>{{ item.name|title }}: {{ item.desc|capitalize }} (${{ item.price }})</li>
    {% else %}
        <li>This vendor has no items</li>
    {% endfor %}
</ul>

{% if vendor.deals|length > 0 %}
<h2>Deals</h2>

<ul>
{% for deal in vendor.getDeals() %}
        <li><p><a href="/api/v1/purchase/{{ member.email }}/{{ deal.id }}">Buy</a> {{ deal.name }} (discount {{ deal.discount }}, redeem count: {{ deal.redeemCount }}) has items:</p>
        <ul>
        {% for item in deal.items %}
            <li>{{ item.name }}, ${{ item.price }}, quantity of {{ item.quantity }}</li>
        {% endfor %}
        </ul></li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}