<h1>Vendor name: {{ vendor.name }}</h1>

<h2>Deals</h2>

<ul>
{% for deal in vendor.deals %}
        <li><p><a href="/api/purchase/{{ member.email }}/{{ deal.id }}">Buy</a> {{ deal.name }} (discount {{ deal.discount }}, redeem count: {{ deal.redeemCount }}) has items:</p>
        <ul>
        {% for item in deal.items %}
            <li>{{ item.name }}, ${{ item.price }}, quantity of {{ item.quantity }}</li>
        {% endfor %}
        </ul></li>
{% endfor %}
</ul>

<h2>Items</h2>

<ul>
{% for item in vendor.items %}
    <li>{{ item.name }}, desc: {{ item.desc }}, quantity: {{ item.quantity }}, cat: {{ item.category }}, price: {{ item.price }}</li>
{% endfor %}
</ul>