<h1>Vendor name: {{ vendor.name }}</h1>

<h2>Items</h2>

<ul>
    {% for item in vendor.items %}
        <li>{{ item.name }}: {{ item.desc }} (${{ item.price }})</li>
    {% else %}
        <li>This vendor has no items</li>
    {% endfor %}
</ul>

<h2>Deals</h2>

<ul>
{% for deal in vendor.deals %}
        <li><p><a href="/api/v1/purchase/{{ member.email }}/{{ deal.id }}">Buy</a> {{ deal.name }} (discount {{ deal.discount }}, redeem count: {{ deal.redeemCount }}) has items:</p>
        <ul>
        {% for item in deal.items %}
            <li>{{ item.name }}, ${{ item.price }}, quantity of {{ item.quantity }}</li>
        {% endfor %}
        </ul></li>
{% endfor %}
</ul>